<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to LambdaZoom</title>

    <link rel="icon" href="{{ context.URL_PREFIX }}/static/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ context.URL_PREFIX }}/static/styles.css">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LambdaZoom</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ context.URL_PREFIX }}/browse">Browse</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">

        <h1>Welcome to LambdaZoom</h1>
        
          <a href="{{ context.URL_PREFIX }}/browse" role="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Browse Deep Zoom images
          </a>

          <hr>

        <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>URL_PREFIX</td>
                    <td>{{ context.URL_PREFIX }}</td>
                </tr>
                <tr>
                    <td>S3_ZOOM_BUCKET</td>
                    <td>{{ context.S3_ZOOM_BUCKET }}</td>
                </tr>
                <tr>
                    <td>ENV</td>
                    <td>{{ context.ENV }}</td>
                </tr>
                <tr>
                    <td>DEEPZOOM_TILE_SIZE</td>
                    <td>{{ context.DEEPZOOM_TILE_SIZE }}</td>
                </tr>
                <tr>
                    <td>DEEPZOOM_TILE_FORMAT</td>
                    <td>{{ context.DEEPZOOM_TILE_FORMAT }}</td>
                </tr>
                <tr>
                    <td>DEEPZOOM_RESIZE_FILTER</td>
                    <td>{{ context.DEEPZOOM_RESIZE_FILTER }}</td>
                </tr>
                <tr>
                    <td>DEEPZOOM_IMAGE_QUALITY</td>
                    <td>{{ context.DEEPZOOM_IMAGE_QUALITY }}</td>
                </tr>
            </tbody>
        </table>

    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
